body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #ca2628;
    color: rgb(255,255,255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8% 18% 0.8% 7%;
}

nav {
    min-width: 17rem;
}

.wide-list {
    display: flex;
    justify-content: space-between;
}

.tall-list {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    margin: 0.4rem 0 0 0;
}


footer {
    background-color: #ca2628;
    color: rgb(255,255,255);
}

footer p {
    text-align: center;
    padding: 0.8% 0% 0.8% 0%;
}

nav span a {
    font-size: 2.5rem;
}

.invisible {
    display: none;
}

@media screen and (max-width: 767px) {
    header {
        flex-direction: column;
        align-items: self-start;
    }
    nav {
        max-width: 17rem;
        min-width: auto;
    }
    .wide-list {
        display: none;
    }

    .hamburguer {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
}