header {
    background-color: #ca2628;
    color: rgb(255,255,255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8% 18% 0.8% 7%;
}

nav {
    width: 17rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #ca2628;
    color: rgb(255,255,255);
}

footer p {
    text-align: center;
    padding: 0.8% 0% 0.8% 0%;
}

nav span a {
    font-size: 2.5rem;
}