* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ca2628;
    color: rgb(255,255,255);
}

footer {
    background-color: #ca2628;
    color: rgb(255,255,255);
}

a {
    text-decoration: none;
    color: inherit;
}

