* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', 'Verdana', 'Tahoma';
}

header {
    background-color: #ca2628;
    color: rgb(255,255,255);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8% 18% 0.8% 7%;

}

nav {
    width: 17rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
}


main p:first-child {
    padding: 0.8% 0% 0.8% 7%;
    background-color: #21242d;
    color: #ffff;
    font-size: 1.08rem;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    background-image: url('../images/background-gym.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 80vh;

    color: #ffff;
}


main section h2 {
    font-size: 2.2rem;
    text-shadow: 0 0 2rem rgb(0,0,0);

}

main section p {
    font-size: 1.2rem;
    text-shadow: 0 0 1rem rgb(0,0,0);

}

main section button {
    width: 9.5rem;
    height: 2.5rem;
    border: 0;
    background-color: #ca2628;
    color: #ffff;
    font-size: 1.1rem;
}

footer {
    background-color: #ca2628;
    color: rgb(255,255,255);
}


footer p {
    text-align: center;
    padding: 0.8% 0% 0.8% 0%;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

span a {
    font-size: 2.5rem;
}

